langchain>=0.3.25
langgraph
databricks-langchain>=0.4.0
pydantic==2.10.1
databricks-agents
unitycatalog-langchain[databricks]
uv
databricks-sdk==0.49.0
databricks-vectorsearch==0.55
mlflow[databricks]
